@define-color bg rgba(66, 71, 135, 0.75);

* {
	font-family: "NotoSans Nerd Font";
	border-radius: 20px;
}

window#waybar {
	background-color: transparent;
	background: transparent;
	transition-property: background-color;
	transition-duration: .5s;
}

#window {
	margin-left: 20;
	margin-bottom: 8;
	padding-left: 17;
	padding-right: 17;
	padding-top: 2;
	font-size: 14px;
	font-weight: bold;	

	background-color: @bg;
}

#waybar.empty #window {
	background-color: transparent;
}

#workspaces {
	margin-left: 20px;
	margin-bottom: 8px;
	background-color: @bg;
}

button {
	border-radius: 20px;
	padding-left: 11px;
	padding-right: 11px;
	font-weight: bold;
}

button:hover {
	border-radius: inherit;
	background: inherit;
}

button.active {
	border-radius: inherit;
	background-color: rgba(82, 94, 226, 1);
}

.modules-right {
	margin-right: 20px;
	margin-bottom: 8px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: @bg;
}

#clock {
	font-size: 11px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

#clock, #tray, #pulseaudio, #memory, #cpu {
	margin-left: 10px;
}
